.App {
   background-color: #282c34;
   min-height: 100vh;
   color: white;
   font-size: 18px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}
table.programmes{
  width: 100%;
  margin: 0 auto;
  
}
table.programmes tr {

}
table.programmes tr.inactive {

}
table.programmes td,table.programmes th {
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}
