html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.App {
   background-color: #282c34;
   min-height: 100vh;
   color: white;
   font-size: 18px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}
table.programmes{
  width: 100%;
  margin: 0 auto;
  background: white;
  color: #1a1a24;
  border-collapse: collapse;
}
table.programmes tr {
  border-bottom: 1px solid #ececec;
}
table.programmes tr.inactive {
  background-color: #e3e3e3;
  color: #565656;
}
table.programmes td,table.programmes th {
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}
.row-actions{
  display: flex;
  width: 160px;

}


table.programmes td.cell-active{
  text-align: center;

}
table.programmes td.cell-active span{
  display: block;
    font-size: 12px;
  text-transform: uppercase;
}
.cell-active svg{
  width: 40px;
  height: 40px;
  margin: 0 auto;
}


#extras{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: -2px;
}
.search{
  display: flex;
  align-items: center;
}



